.venv-build/
.venv-build-mac/
__pycache__/
*.pyc
*.pyo
*.pyd

.telegram_ref/
ChatExport_*/

build/
build_*/
build_*_spec/
dist/
dist_*/
*.spec

fav_tinder_app/data/
fav_tinder_app/settings.json

.DS_Store
Thumbs.db
