.venv-build/
.venv-build-mac/
__pycache__/
*.pyc
*.pyo
*.pyd

.telegram_ref/
ChatExport_*/

build/
build_*/
build_*_spec/
dist/
dist_*/
*.spec

telegram-cleaner/data/
telegram-cleaner/settings.json

.DS_Store
Thumbs.db
